* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}

.flex-container {
    display: flex;
    width: 80%;
    min-width: 800px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.first-col {
    background-color: hsl(244, 38%, 16%);
    width: 50%;
    height: 50%;
    padding: 3rem 5rem 3rem 3rem;
    border-radius: 12px 0 0 12px;
}

.first-col h1 {
    line-height: 2rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
}

.first-col span {
    color: hsl(277, 64%, 61%);
}

.first-col > p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 2rem;
}

.first-col ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    overflow: auto;
    padding-right: 25px;
}

.first-col h2 {
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
}

.first-col ul p {
    font-size: 0.5rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.second-col {
    width: 50%;
    height: 50%;
    background: url(images/image-header-desktop.jpg) center center/cover;
    position: relative;
    border-radius: 0 12px 12px 0;
}



.second-col::before {
    content: "";
    width: 100%;
    height: 100%;
    background: hsla(277, 64%, 61%,0.4);
    position: absolute;
    border-radius: inherit;
}



@media only screen and (max-width:376px) {

    body {
        padding: 30px 15px;
    }

    .flex-container {
        width: 100%;
        min-width: 300px;
        flex-direction: column-reverse;
    }

    .first-col {
        width: inherit;
        height: auto;
        border-radius: 0 0 12px 12px;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-align: center;

    }

    .first-col ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .first-col li {
        margin-bottom: 10px;
    }
    .second-col {
        width: inherit;
        height: 35%;
        border-radius: 12px 12px 0 0;
    } 
}



